.toastContent {
  display: flex;
  align-items: center;
}

.toastActionContainer {
  padding-left: 16px;
}

.toast {
  position: absolute;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
}

.toast[data-type="success"] {
  background: lightgreen;
}

.toast[data-type="error"] {
  background: lightcoral;
}

.toast[data-type="info"] {
  background: lightblue;
}

.toast[data-type="warning"] {
  background: lightgoldenrodyellow;
}

.toast[data-y-position="top"] {
  margin-top: 24px;
  top: 0;
}

.toast[data-y-position="center"] {
  top: 50%;
  transform: translate(0, -50%);
}

.toast[data-y-position="bottom"] {
  margin-bottom: 24px;
  bottom: 0;
}

.toast[data-x-position="left"] {
  left: 0;
  margin-left: 24px;
}

.toast[data-x-position="center"] {
  left: 50%;
  transform: translate(-50%); 
}

.toast[data-x-position="right"] {
  right: 0;
  margin-right: 24px;
}


