.toastContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
}

.toast[data-type="success"] {
  background: lightgreen;
}

.toast[data-type="error"] {
  background: lightcoral;
}

.toast[data-type="info"] {
  background: lightblue;
}

.toast[data-type="warning"] {
  background: lightgoldenrodyellow;
}
