.container {
  list-style: none;
  text-align: left;
}

.list {
  display: inline;
}

.list a {
  color: black;
}

.list span {
  margin-right: 5px;
  margin-left: 5px;
}

.list [aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
}

.list [aria-current="true"] {
  font-weight: bold;
  text-decoration: none;
}
