.BreadcrumbContainer {
  list-style: none;
  text-align: left;
}

.BreadcrumbItem {
  display: inline;
}

.BreadcrumbItem a {
  color: black;
}

.BreadcrumbItem span {
  margin-right: 5px;
  margin-left: 5px;
}

.BreadcrumbItem [aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
}
