.BreadcrumbContainer {
  list-style: none;
  text-align: left;
}

.BreadcrumbListItem {
  display: inline;
}

.BreadcrumbListItem a {
  color: black;
}

.BreadcrumbListItem span {
  margin-right: 5px;
  margin-left: 5px;
}

.BreadcrumbListItem [aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
}
