.container {
  --small: 48px;
  --medium: 64px;
  --large: 96px;
  --ratio: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  flex-wrap: nowrap;
  background-size: cover;
}

.container[data-size="sm"] {
  font-size: calc(var(--small) * var(--ratio));
  width: var(--small);
  height: var(--small);
}

.container[data-size="md"] {
  font-size: calc(var(--medium) * var(--ratio));
  width: var(--medium);
  height: var(--medium);
}

.container[data-size="lg"] {
  font-size: calc(var(--large) * var(--ratio));
  width: var(--large);
  height: var(--large);
}
