.modalOverlay {
  background-color: hsla(170, 5%, 15%, 0.8);
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
}

.modalWindow {
  width: 375px;
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .modalWindow {
    width: 250px;
    height: 250px;
  }
}