.container {
  width: 100%;
  position: relative;
  table-layout: fixed;
}

.container th,
.container td {
  padding: 10px;
  vertical-align: middle;
}

.container thead th {
  background: gainsboro;
  position: sticky;
  top: 0;
  padding: 10px;
}

.container thead th[data-sortable="true"] {
  cursor: pointer;
}

.container tbody {
  background: whitesmoke;
}
