:root {
  --small: 48px;
  --medium: 64px;
  --large: 96px;
}

.container {
  background: #999999;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  flex-wrap: nowrap;
  background-size: cover;
}

.container[data-size="small"] {
  font-size: calc(var(--small) * 0.5);
  width: var(--small);
  height: var(--small);
}

.container[data-size="medium"] {
  font-size: calc(var(--medium) * 0.5);
  width: var(--medium);
  height: var(--medium);
}

.container[data-size="large"] {
  font-size: calc(var(--large) * 0.5);
  width: var(--large);
  height: var(--large);
}

