.container {
  background: #999999;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  flex-wrap: nowrap;
  background-size: cover;
}

.container[data-size="small"] {
  font-size: 24px;
  width: 48px;
  height: 48px;
}

.container[data-size="medium"] {
  font-size: 32px;
  width: 64px;
  height: 64px;
}

.container[data-size="large"] {
  font-size: 48px;
  width: 96px;
  height: 96px;
}

