@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  100% {
    transform: translateX(200%);
    width: 50%;
  }
}

.indeterminate {
  animation: indeterminate 1.5s ease-in-out 0s infinite none running;
}

.indicator {
  position: relative;
  display: block;
  height: 100%;
  transition: transform 0.2s linear;
  background: green;
}

.track {
  border-radius: 2px;
  overflow: hidden;
  height: 12px;
  position: relative;
  background: rgb(174, 228, 174);
}
